<div class="col-md-2 sidebar">
	<div class="row">
		<!-- uncomment code for absolute positioning tweek see top comment in css -->
		<div class="absolute-wrapper"> </div>
		<!-- Menu -->
		<div class="side-menu">
			<nav class="navbar navbar-default" role="navigation">
				<!-- Main Menu -->
				<div class="side-menu-container">
					<ul class="nav navbar-nav">
						<li ng-repeat="item in core.navItems track by $index">
							<a ng-click="core.navigate(item.url)"><span class="{{::item.class}}"></span>{{::item.title}}</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>